@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    
    
}

.menu {
    background-color: rgb(74, 109, 109);
    display: flex;
    justify-content: space-between;
    height:10vh;
    align-items: center;
}
.totalpersonajes h3 {
    color: #434343;
    padding: 20px;
}
.titulo {
    color: white;
    padding-left: 30px;
    font-size: larger;
}
.lista > li {
    float:left;
    
}
.lista li a {
    color: white;
    padding:10px 35px;
    background-color: rgb(74, 109, 109); 
    display:block;
    width: 22vh;
       
}

.lista li a:hover {
    color:#434343;
}

.lista li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.lista li:hover > ul {
    display:block;
}

 

.detalle {
    font-style: italic;
    font-weight: bold;
}

#cuadro {
    justify-content: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);

}

.cuadrodatos {
    border: 3px solid #9b8677;
    border-radius: 22px;
    height: 100%;
    width: 100%;
}
 
img {
    width: 100%;
    border-radius:  20px 20px 0px 0px;
}

p {
    padding-left: 10px;
    padding-top: 5px;
}

img:hover {
    transition: 1s;
    transform: rotateY(180deg);
    filter:sepia(100);
    
    
}

.cuadrodatos:hover {
    box-shadow: 16px 11px 15px #9b8677;
    transition: 1s;
    border: none;
    background-color: #ddd1c9;
   
}

.paginado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    height:10vh;
   color: rgb(74, 109, 109);
   font-weight: bolder;
    
}

.botones {
    display: flex;
    justify-content: center;
    align-items:center;
    height:10vh;
    gap: 10px;
}

.boton { 
    position: relative;
    width: 15vh;
    height: 5vh;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
       
}

.boton:hover {
  background-color: rgb(74, 109, 109);
  color: white;
  box-shadow: 0 4px 16px rgb(5, 5, 5);
  transition: all 0.5s ease;
} 

.adaitw {
    width: 8vh;
    
}   

.adaitw:hover {
    cursor: pointer;
    transform: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(74, 109, 109);
    height: 15vh;
    padding: 2vh;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
        
}
.mujeres {
    color: #b71b59;
}

.rick {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

@media (max-width: 620px) {
    .titulo {
    font-size:medium;
    text-align: center;
}

.menu {
    background-color: rgb(74, 109, 109);
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
    height:15vh;
}
ul.lista  {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mujeres {
    display: none;
}
}

@media (max-width: 730px) {
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
 footer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    
 }
}

@media (max-width: 1200px) {

    #cuadro {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (max-width: 950px) {

    #cuadro {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-width: 450px) {

    #cuadro {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }    
}
