@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    
}

.menu {
    background-color: rgb(74, 109, 109);
    display: flex;
    justify-content: space-between;
    height:10vh;
    align-items: center;
}
.totalpersonajes h3 {
    color: #434343;
    padding: 20px;
}
.titulo {
    color: white;
    padding-left: 30px;
    font-size: larger;
}
.lista > li {
    float:left;
    
}
.lista li a {
    color: white;
    padding:10px 35px;
    background-color: rgb(74, 109, 109); 
    display:block;
       
}

.lista li a:hover {
    color:#434343;
}

.lista li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.lista li:hover > ul {
    display:block;
}

 /* TODAS LAS IMAGENES SE HACEN RESPONSIVAS 
img {
    max-width: 100%;
}*/

.detalle {
    font-style: italic;
    font-weight: bold;
}

#cuadro {
    display: flex ;
    flex-wrap: wrap;
    gap: 5vh;
    flex-basis: auto;
      
}
.cuadrodatos {
    border: 3px solid #9b8677;
    border-radius: 22px;
    height: 600px;
    width: 350px;
}
 
img {
    width: 100%;
    border-radius:  20px 20px 0px 0px;
}

p {
    padding-left: 10px;
    padding-top: 5px;
}

img:hover {
    transition: 1s;
    transform: rotateY(180deg);
    filter:sepia(100);
    
    
}

.cuadrodatos:hover {
    box-shadow: 16px 11px 15px #9b8677;
    transition: 1s;
    border: none;
    background-color: #ddd1c9;
   
}

.paginado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    height:10vh;
   color: rgb(74, 109, 109);
   font-weight: bolder;
    
}

.botones {
    display: flex;
    justify-content: center;
    align-items:center;
    height:10vh;
    gap: 10px;
}

.boton { 
    position: relative;
    width: 15vh;
    height: 5vh;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
       
}

.boton:hover {
  background-color: rgb(74, 109, 109);
  color: white;
  box-shadow: 0 4px 16px rgb(5, 5, 5);
  transition: all 0.5s ease;
} 



/* @media (max-width: 550px) {
    #cuadro {
        display: grid;
        gap: 3vh;
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 600px ;
          
    }
}  */

